In [1]:
pip install findspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: findspark in c:\users\adashrat\appdata\roaming\python\python311\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()
spark

In [3]:
# Step 1: Import SparkContext
from pyspark import SparkContext
# Step 2: Initialize SparkContext (use getOrCreate to avoid multiple context errors)
sc = SparkContext.getOrCreate()

In [4]:
from pyspark.sql import Row

In [5]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
from pyspark.sql.types import ArrayType,DoubleType,BooleanType
from pyspark.sql.functions import col,array_contains

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql import Row

# Initialize Spark Session
spark = SparkSession.builder \
    .appName("Region-wise Employee Count with Partitioning") \
    .master("local[*]") \
    .getOrCreate()

sc = spark.sparkContext

# Load the CSV file as RDD
rdd = sc.textFile("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Extract header and filter it out
header = rdd.first()
data_rdd = rdd.filter(lambda row: row != header)

# Repartition the RDD for parallel processing
partitioned_rdd = data_rdd.repartition(4)

# Process: Extract COMPANY LOCATION (assumed at index 5), count occurrences
location_counts = partitioned_rdd \
    .map(lambda row: row.split(",", -1)) \
    .filter(lambda fields: len(fields) > 5) \
    .map(lambda fields: (fields[5].strip(), 1)) \
    .reduceByKey(lambda a, b: a + b) \
    .sortBy(lambda pair: pair[1], ascending=False)

# Convert to DataFrame
row_rdd = location_counts.map(lambda pair: Row(pair[0], str(pair[1])))

schema = StructType([
    StructField("COMPANY_LOCATION", StringType(), True),
    StructField("EMPLOYEE_COUNT", StringType(), True)
])

df = spark.createDataFrame(row_rdd, schema)



df.show()

spark.stop()

+----------------+--------------+
|COMPANY_LOCATION|EMPLOYEE_COUNT|
+----------------+--------------+
|        Hyderbad|           840|
|       Bangalore|           278|
|           Delhi|           272|
|     Navi Mumbai|           190|
|          Mumbai|           188|
|                |            99|
|         Chennai|            83|
|            Pune|            69|
|           Noida|            34|
|          Jaipur|            25|
|    Gandhi Nagar|            21|
+----------------+--------------+

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, trim, when
from pyspark.sql.types import DoubleType

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Income Tax Savings Calculation") \
    .master("local[*]") \
    .getOrCreate()

# Load the CSV file
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Define tax rate
tax_rate = 0.10

# Step 1: Remove rows with null or empty EMP_NAME
cleaned_df = df.filter(
    col("EMP_NAME").isNotNull() & (trim(col("EMP_NAME")) != "")
)

# Step 2: Convert BALANCE to INCOME and calculate TAX_SAVINGS
result_df = cleaned_df \
    .withColumn("INCOME", col("BALANCE").cast(DoubleType())) \
    .withColumn("TAX_SAVINGS",
        when(col("INCOME") > 200000, (col("INCOME") - 200000) * tax_rate)
        .otherwise(0.0)
    ) \
    .select("EMP_NAME", "INCOME", "TAX_SAVINGS") \
    .filter(col("INCOME").isNotNull())

# Show the result
result_df.show()

# Stop the Spark session
spark.stop()

+---------------+---------+------------------+
|       EMP_NAME|   INCOME|       TAX_SAVINGS|
+---------------+---------+------------------+
|        Hussain|  21430.0|               0.0|
|         Nagesh|   2900.0|               0.0|
|       Preetham|   2222.0|               0.0|
| Rajashekarappa| 150681.0|               0.0|
|        Monappa|1878787.0|          167878.7|
|          Uthra| 231886.0|3188.6000000000004|
|Narasimhamurthy| 447787.0|           24778.7|
|         Thorat| 220202.0|            2020.2|
|        Puvvadi|  12180.0|               0.0|
|         Gawand|  59300.0|               0.0|
|      Pulathota|  27000.0|               0.0|
|      Manjunath|  39052.0|               0.0|
|        Kandpal|  60000.0|               0.0|
|     Pazhanivel|   5000.0|               0.0|
|       Chappidi|   1620.0|               0.0|
|           Jose|  22900.0|               0.0|
|         Dsouza|   1300.0|               0.0|
|      Gangasani|   5002.0|               0.0|
|   Ghattamaneni|      0.0|               0.0|
|         Ghadge|  40000.0|               0.0|
+---------------+---------+------------------+
only showing top 20 rows

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Experience Based Offers") \
    .master("local[*]") \
    .getOrCreate()

# Load the CSV file
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Ensure EXPERIENCE is numeric
df = df.withColumn("EXPERIENCE", col("EXPERIENCE").cast("double"))

# Categorize experience and assign offers
result_df = df.withColumn("Experience_Category",
    when(col("EXPERIENCE") <= 2, "0-2 years")
    .when(col("EXPERIENCE") <= 5, "2-5 years")
    .when(col("EXPERIENCE") <= 10, "5-10 years")
    .otherwise("10+ years")
).withColumn("Offer",
    when(col("Experience_Category") == "0-2 years", "Welcome Kit + 5% Cashback on first purchase")
    .when(col("Experience_Category") == "2-5 years", "Silver Membership + 10% Cashback")
    .when(col("Experience_Category") == "5-10 years", "Gold Membership + 15% Cashback")
    .otherwise("Platinum Membership + 20% Cashback + VIP Support")
)

# Select relevant columns
final_df = result_df.select("EMP_NAME", "EXPERIENCE", "Experience_Category", "Offer")

# Show the result
final_df.show(truncate=False)

# Stop the Spark session
spark.stop()

+---------------+----------+-------------------+-------------------------------------------+
|EMP_NAME       |EXPERIENCE|Experience_Category|Offer                                      |
+---------------+----------+-------------------+-------------------------------------------+
|Hussain        |2.0       |0-2 years          |Welcome Kit + 5% Cashback on first purchase|
|Nagesh         |3.5       |2-5 years          |Silver Membership + 10% Cashback           |
|Preetham       |4.5       |2-5 years          |Silver Membership + 10% Cashback           |
|Rajashekarappa |6.5       |5-10 years         |Gold Membership + 15% Cashback             |
|Monappa        |7.5       |5-10 years         |Gold Membership + 15% Cashback             |
|Uthra          |8.0       |5-10 years         |Gold Membership + 15% Cashback             |
|Narasimhamurthy|4.5       |2-5 years          |Silver Membership + 10% Cashback           |
|Thorat         |3.5       |2-5 years          |Silver Membership + 10% Cashback           |
|Puvvadi        |3.0       |2-5 years          |Silver Membership + 10% Cashback           |
|Gawand         |2.0       |0-2 years          |Welcome Kit + 5% Cashback on first purchase|
|Pulathota      |6.0       |5-10 years         |Gold Membership + 15% Cashback             |
|Manjunath      |5.5       |5-10 years         |Gold Membership + 15% Cashback             |
|Kandpal        |8.0       |5-10 years         |Gold Membership + 15% Cashback             |
|Pazhanivel     |4.5       |2-5 years          |Silver Membership + 10% Cashback           |
|Chappidi       |3.5       |2-5 years          |Silver Membership + 10% Cashback           |
|Jose           |6.5       |5-10 years         |Gold Membership + 15% Cashback             |
|Dsouza         |7.5       |5-10 years         |Gold Membership + 15% Cashback             |
|Gangasani      |7.5       |5-10 years         |Gold Membership + 15% Cashback             |
|Ghattamaneni   |6.5       |5-10 years         |Gold Membership + 15% Cashback             |
|Ghadge         |5.5       |5-10 years         |Gold Membership + 15% Cashback             |
+---------------+----------+-------------------+-------------------------------------------+
only showing top 20 rows

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Top 10 Bank Balances") \
    .master("local[*]") \
    .getOrCreate()

# Load the CSV file
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Convert BALANCE to numeric and drop rows with null balances
df_with_balance = df.withColumn("BALANCE", col("BALANCE").cast("double")) \
                    .na.drop(subset=["BALANCE"])

# Get top 10 accounts by balance
top_balances = df_with_balance.orderBy(col("BALANCE").desc()).limit(10)

# Show the result
top_balances.show()

# Stop the Spark session
spark.stop()

+---------------+-------+--------------+------+-------+----------------+-----------------+--------------+----------+-----------+----------+---------+----------+----------+-------+----+------------+--------------+-------------------+-------------+-------------+-------------+--------------+---------+-------------------+-------------------+----------------+-----------------+------------------+------------------+--------------------+--------------------+----+----+
|       EMP_NAME|EMP_AGE|MARITAL STATUS|EMP ID|COMPANY|COMPANY LOCATION|   SPECIALIZATION|DESIGNATION_ID|  PHONE NO|BANK BRANCH|EXPERIENCE|EDUCATION|  VOTER_ID|  PAN CARD|HOUSING|Loan|LOAN TYPE_ID|REWARD POINTS |SAVINGS ACCOUNT NO.|    CD ACC NO|    FD ACC NO|    OD ACC NO|CURRENT ACC NO|  BALANCE|     CREDIT CARD NO|      DEBIT CARD NO|INTERNET BANKING|AVG BALANCE YEAR1|AVG BALANCE YEAR 2|AVG BALANCE YEAR 3|ADDRESS OF EMPLOYEES|ACCOUNT OPENING DATE|_c32|_c33|
+---------------+-------+--------------+------+-------+----------------+-----------------+--------------+----------+-----------+----------+---------+----------+----------+-------+----+------------+--------------+-------------------+-------------+-------------+-------------+--------------+---------+-------------------+-------------------+----------------+-----------------+------------------+------------------+--------------------+--------------------+----+----+
|    Chakraborty|     36|       married| 10078|    IBM|    Gandhi Nagar|              V&V|          1008|9563201478|  Bangalore|       8.0| BE/BTech|PLI9632587|GHAND5006N|    yes|  no|         208|          3625|     10025000000048|         NULL|1114020000172|         NULL|          NULL|5464527.0|4423 2385 1258 1223|1281 9438 8752 1005|              no|            64207|            358179|            151899|H.No:10/S,Worlika...|          25-06-2007|NULL|NULL|
|      JJ Martin|     26|       married| 23013|  Wipro|        Hyderbad|Real Time Systems|          1003|9123458837|   Hyderbad|       4.0| BE/BTech|IJP8252378|HYBRD9684T|    yes|  no|         208|           125|     10025000000806|         NULL|         NULL|         NULL|          NULL|5464527.0|5030 2385 1258 1223|2039 9438 8752 1005|             yes|           128862|            320316|            427183|H.No:4/J,derashar...|          25-07-2012|NULL|NULL|
|       WV Raman|     29|       married| 22402|    TCS|        Hyderbad|          Red Hat|          1010|9123458665|   Hyderbad|       7.0| BE/BTech| EFU589640|HYBRD9641W|    yes|  no|         208|            35|     10025000000763|1112510000723|1114020000824|1111250000292|          NULL|1878787.0|4995 2385 1258 1223|1996 9438 8752 1005|             yes|           133071|            224638|            595816|H.No:5/D,savla st...|          26-05-2009|NULL|NULL|
|        Monappa|     30|        single| 10035|    IBM|       Bangalore|           DotNet|          1008|9845635674|  Bangalore|       7.5| BE/BTech| ZAG614233|BJNPA6875G|     no|  no|         208|          5214|     10025000000005|1112510000252|         NULL|         NULL|          NULL|1878787.0|4389 2385 1258 1223|1238 9438 8752 1005|             yes|           109832|            141143|             18386|H.No:2/T,Chandvar...|          01-03-2009|NULL|NULL|
|       Phadtare|     33|       married| 10024|    IBM|            Pune|             J2EE|          1008|9861131266|  Bangalore|       5.5| BE/BTech| APL784516|PUENP7011Y|    yes|  no|         208|          2563|     10025000000084|1112510000287|         NULL|         NULL| 1111010000758| 821163.0|4452 2385 1258 1223|1317 9438 8752 1005|             yes|             4807|            305204|            340341|H.No:7/S,shivari ...|          25-08-2008|NULL|NULL|
|Y Venugopal Rao|     30|        single|232311|  Wipro|        Hyderbad| Custom Firmware |          1003|9123458981|   Hyderbad|       7.0| BE/BTech| EFU589642|HYBRD9720V|    yes|  no|         208|           235|     10025000000842|1112510000776|1114020000871|         NULL|          NULL| 821163.0|4554 2395 1258 1322|2075 9438 8752 1005|             yes|           117670|             39140|            140621|H.No:1/L,Classic ...|          30-05-2010|NULL|NULL|
|        M Vijay|     30|        single|232312|  Wipro|        Hyderbad| Custom Firmware |          1003|9123458985|   Hyderbad|       8.0| BE/BTech|IJP8252380|HYBRD9721A|    yes|  no|         208|          6000|     10025000000843|1112510000777|1114020000872|         NULL|          NULL| 821154.0|5059 2385 1258 1223|2076 9438 8752 1005|             yes|           120188|            183670|            581330|H.No:1/D,Jain soc...|          30-05-2010|NULL|NULL|
|        Chaubey|     28|       married| 10025|    IBM|            Pune|             ABAP|          1008|9556811653|  Bangalore|       6.5| BE/BTech|PLI9632589|PUENP7012D|    yes| yes|         210|           287|     10025000000085|1112510000288|         NULL|         NULL| 1111010000759| 821154.0|4453 2385 1258 1223|1318 9438 8752 1005|             yes|             4389|            122493|            371177|H.No:1/K,gymkhana...|          26-08-2008|NULL|NULL|
| Shobhit Gautam|     25|       married| 25816|  IGATE|          Mumbai|     MySQL Server|          1011|9123461589|   Hyderbad|       1.0|    MTECH| QSZ126593|MUMBI2370Y|    yes|  no|         208|           320|     10025000001494|1112510001108|         NULL|         NULL|          NULL| 800000.0|5580 2385 1258 1223|2727 9438 8752 1005|             yes|            22966|            221198|            517001|H.No:106/J,shivar...|          13-06-2006|NULL|NULL|
|    Sneha Diwan|     27|       married| 25817|  IGATE|          Mumbai|     MySQL Server|          1011|9123461593|   Hyderbad|       2.0|    MTECH|PLI9632600|MUMBI2371T|    yes|  no|         208|           589|     10025000001495|         NULL|         NULL|         NULL|          NULL| 800000.0|5581 2385 1258 1223|2728 9438 8752 1005|             yes|           180615|            264579|            517760|H.No:212/G,gymkha...|          13-06-2006|NULL|NULL|
+---------------+-------+--------------+------+-------+----------------+-----------------+--------------+----------+-----------+----------+---------+----------+----------+-------+----+------------+--------------+-------------------+-------------+-------------+-------------+--------------+---------+-------------------+-------------------+----------------+-----------------+------------------+------------------+--------------------+--------------------+----+----+

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Partitioned Grouping by Age and Education") \
    .master("local[*]") \
    .getOrCreate()

# Load dataset
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv") \
    .cache()

# Filter out nulls for EMP_AGE and EDUCATION
filtered_df = df.filter(col("EMP_AGE").isNotNull() & col("EDUCATION").isNotNull())

# Group by EMP_AGE and EDUCATION and count
result_df = filtered_df.groupBy("EMP_AGE", "EDUCATION") \
    .agg(count("*").alias("Person_Count")) \
    .orderBy("EMP_AGE", "EDUCATION")

df.show()

# Stop Spark session
spark.stop()

+---------------+-------+--------------+------+-------+----------------+--------------------+--------------+----------+-----------+----------+---------+----------+----------+-------+----+------------+--------------+-------------------+-------------+---------+-------------+--------------+-------+-------------------+-------------------+----------------+-----------------+------------------+------------------+--------------------+--------------------+----+----+
|       EMP_NAME|EMP_AGE|MARITAL STATUS|EMP ID|COMPANY|COMPANY LOCATION|      SPECIALIZATION|DESIGNATION_ID|  PHONE NO|BANK BRANCH|EXPERIENCE|EDUCATION|  VOTER_ID|  PAN CARD|HOUSING|Loan|LOAN TYPE_ID|REWARD POINTS |SAVINGS ACCOUNT NO.|    CD ACC NO|FD ACC NO|    OD ACC NO|CURRENT ACC NO|BALANCE|     CREDIT CARD NO|      DEBIT CARD NO|INTERNET BANKING|AVG BALANCE YEAR1|AVG BALANCE YEAR 2|AVG BALANCE YEAR 3|ADDRESS OF EMPLOYEES|ACCOUNT OPENING DATE|_c32|_c33|
+---------------+-------+--------------+------+-------+----------------+--------------------+--------------+----------+-----------+----------+---------+----------+----------+-------+----+------------+--------------+-------------------+-------------+---------+-------------+--------------+-------+-------------------+-------------------+----------------+-----------------+------------------+------------------+--------------------+--------------------+----+----+
|        Hussain|     24|       married| 10031|    IBM|       Bangalore|Business Intellig...|          1008|9583767895|  Bangalore|       2.0| BE/BTech| ALM963256|BJNPA6577N|    yes|  no|         208|            85|     10025000000001|         NULL|     NULL|         NULL|          NULL|  21430|4386 2385 1258 1223|1234 9438 8752 1005|             yes|            12259|             23240|            485793|Shinde wadi,Dadar(E)|          24-01-2010|NULL|NULL|
|         Nagesh|     26|        single| 10032|    IBM|       Bangalore|                J2EE|          1008|9546276543|  Bangalore|       3.5| BE/BTech| ALM963257|BJNPA6475K|    yes|  no|         208|            45|     10025000000002|1112510000249|     NULL|1111250000025|          NULL|   2900|4386 2395 1258 1322|1235 9438 8752 1005|             yes|            76382|            354993|            170224|H.No:1/A,Tata Hos...|          26-02-2009|NULL|NULL|
|       Preetham|     27|       married| 10033|    IBM|       Bangalore|                ABAP|          1008|9876534563|  Bangalore|       4.5| BE/BTech| ALM963258|BJNPA7541L|    yes| yes|         205|           635|     10025000000003|1112510000250|     NULL|         NULL|          NULL|   2222|4387 2385 1258 1223|1236 9438 8752 1005|             yes|           103845|            275314|            587337|H.No:1/A,Caters R...|          27-02-2009|NULL|NULL|
| Rajashekarappa|     28|       married| 10034|    IBM|       Bangalore|                 V&V|          1008|9875674535|  Bangalore|       6.5| BE/BTech| ALM963259|BJNPA8658H|    yes|  no|         208|          1235|     10025000000004|1112510000251|     NULL|         NULL|          NULL| 150681|4388 2385 1258 1223|1237 9438 8752 1005|             yes|           106603|            313436|            448034|H.No:2/D,Dharavi ...|          28-02-2009|NULL|NULL|
|        Monappa|     30|        single| 10035|    IBM|       Bangalore|              DotNet|          1008|9845635674|  Bangalore|       7.5| BE/BTech| ZAG614233|BJNPA6875G|     no|  no|         208|          5214|     10025000000005|1112510000252|     NULL|         NULL|          NULL|1878787|4389 2385 1258 1223|1238 9438 8752 1005|             yes|           109832|            141143|             18386|H.No:2/T,Chandvar...|          01-03-2009|NULL|NULL|
|          Uthra|     31|       married| 10036|    IBM|       Bangalore|                J2EE|          1008|8765845638|  Bangalore|       8.0| BE/BTech| ZAG614234|BJNPA5476N|    yes|  no|         208|          6357|     10025000000006|1112510000253|     NULL|         NULL|          NULL| 231886|4390 2385 1258 1223|1239 9438 8752 1005|             yes|            58556|            330158|            230416|H.No:1/G,Napoo Ro...|          02-03-2009|NULL|NULL|
|Narasimhamurthy|     27|        single| 10037|    IBM|       Bangalore|                ABAP|          1008|7895436370|  Bangalore|       4.5| BE/BTech| ZAG614235|BJNPA1234K|    yes| yes|         211|          8564|     10025000000007|1112510000254|     NULL|         NULL|          NULL| 447787|4387 2395 1258 1322|1240 9438 8752 1005|             yes|           125325|            292568|             79537|H.No:4/S,Bhulabha...|          03-03-2009|NULL|NULL|
|         Thorat|     24|      divorced| 10038|    IBM|       Bangalore|                 V&V|          1008|9845352311|  Bangalore|       3.5| BE/BTech| ZAG614236|BJNPA4126J|    yes|  no|         208|           123|     10025000000008|1112510000255|     NULL|         NULL| 1111010000752| 220202|4391 2385 1258 1223|1241 9438 8752 1005|             yes|           185702|            262717|            408536|H.No:3/L,dargah r...|          24-01-2010|NULL|NULL|
|        Puvvadi|     25|       married| 10039|    IBM|       Bangalore|              DotNet|          1008|9873452475|  Bangalore|       3.0| BE/BTech| ZAG614237|BJNPA3254B|    yes|  no|         208|             5|     10025000000009|1112510000256|     NULL|         NULL|          NULL|  12180|4392 2385 1258 1223|1242 9438 8752 1005|             yes|            92631|             88007|            474449|H.No:5/S,Moti sha...|          25-06-2012|NULL|NULL|
|         Gawand|     23|        single| 10040|    IBM|       Bangalore|              DotNet|          1008|8765341234|  Bangalore|       2.0| BE/BTech| ZAG614238|BJNPA4568V|    yes|  no|         208|          4562|     10025000000010|1112510000257|     NULL|         NULL|          NULL|  59300|4393 2385 1258 1223|1243 9438 8752 1005|             yes|           141313|             93589|            578713|H.No:1/M,jame jam...|          02-07-2008|NULL|NULL|
|      Pulathota|     28|      divorced| 10041|    IBM|       Bangalore|Business Intellig...|          1008|9645341234|  Bangalore|       6.0| BE/BTech| ZAG614239|BJNPA7412K|    yes|  no|         208|          2598|     10025000000011|1112510000258|     NULL|         NULL|          NULL|  27000|4394 2385 1258 1223|1244 9438 8752 1005|             yes|           169365|             61047|            348628|H.No:11/H,Worlika...|          25-06-2012|NULL|NULL|
|      Manjunath|     29|        single| 10042|    IBM|       Bangalore|                J2EE|          1008|9764531237|  Bangalore|       5.5| BE/BTech| ZAG614240|BJNPA1254H|    yes|  no|         208|          4512|     10025000000012|1112510000259|     NULL|         NULL|          NULL|  39052|4388 2395 1258 1322|1245 9438 8752 1005|             yes|            31883|            149775|            361153|H.No:3/Z,Amarsons...|          25-06-2012|NULL|NULL|
|        Kandpal|     30|       married| 10043|    IBM|       Bangalore|                ABAP|          1008|9538675235|  Bangalore|       8.0| BE/BTech| ZAG614241|BJNPA7412M|    yes|  no|         208|           754|     10025000000013|1112510000260|     NULL|         NULL|          NULL|  60000|4395 2385 1258 1223|1246 9438 8752 1005|             yes|            89986|             35919|              5675|H.No:7/T,shivari ...|          25-06-2012|NULL|NULL|
|     Pazhanivel|     28|       married| 10044|    IBM|       Bangalore|                 V&V|          1008|9632587414|  Bangalore|       4.5| BE/BTech| ZAG614242|BJNPA2536C|    yes|  no|         208|         12564|     10025000000014|1112510000261|     NULL|         NULL|          NULL|   5000|4396 2385 1258 1223|1247 9438 8752 1005|             yes|           190991|            375462|            401567|H.No:2/S,cloves l...|          25-06-2012|NULL|NULL|
|       Chappidi|     27|       married| 10045|    IBM|       Bangalore|              DotNet|          1008|9685324585|  Bangalore|       3.5| BE/BTech| ZAG614243|BJNPA5624K|    yes|  no|         208|         78546|     10025000000015|1112510000262|     NULL|         NULL|          NULL|   1620|4397 2385 1258 1223|1248 9438 8752 1005|             yes|            69000|             76877|            530014|H.No:1/A,Lifestyl...|          25-06-2012|NULL|NULL|
|           Jose|     29|       married| 10046|    IBM|       Bangalore|                ABAP|          1008|9632587412|  Bangalore|       6.5| BE/BTech| ZAG614244|BJNPA6548I|    yes|  no|         208|           235|     10025000000016|1112510000263|     NULL|         NULL|          NULL|  22900|4398 2385 1258 1223|1249 9438 8752 1005|              no|           156310|            216081|            444373|H.No:13/R,Queens ...|          25-06-2007|NULL|NULL|
|         Dsouza|     35|        single| 10047|    IBM|       Bangalore|                 V&V|          1008|9865321472|  Bangalore|       7.5| BE/BTech| ZAG614245|BJNPA4758O|    yes|  no|         208|          1246|     10025000000017|1112510000264|     NULL|         NULL|          NULL|   1300|4389 2395 1258 1322|1250 9438 8752 1005|              no|            60254|            104765|              6613|H.No:3/A,M G road...|          25-06-2007|NULL|NULL|
|      Gangasani|     36|       married| 10048|    IBM|       Bangalore|Business Intellig...|          1008|9874563214|  Bangalore|       7.5| BE/BTech| ZAG614246|BJNPA1597L|    yes|  no|         208|          5236|     10025000000018|1112510000265|     NULL|         NULL|          NULL|   5002|4399 2385 1258 1223|1251 9438 8752 1005|              no|           152654|             36260|            520146|H.No:4/G,sion hos...|          25-06-2007|NULL|NULL|
|   Ghattamaneni|     35|       married| 10049|    IBM|       Bangalore|                J2EE|          1008|9632587415|  Bangalore|       6.5| BE/BTech| ALM963256|BJNPA3574M|    yes|  no|         208|          5632|     10025000000019|1112510000266|     NULL|         NULL|          NULL|      0|4400 2385 1258 1223|1252 9438 8752 1005|              no|            60596|            203807|             47661|H.No:5/A,Dumping ...|          25-06-2007|NULL|NULL|
|         Ghadge|     27|       married| 10050|    IBM|       Bangalore|                ABAP|          1008|9874563218|  Bangalore|       5.5| BE/BTech|BPL6598412|BJNPA6456Q|    yes|  no|         208|         41235|     10025000000020|1112510000267|     NULL|         NULL|          NULL|  40000|4401 2385 1258 1223|1253 9438 8752 1005|             yes|            78486|            285216|            559623|H.No:1/E,Mill rao...|          25-06-2007|NULL|NULL|
+---------------+-------+--------------+------+-------+----------------+--------------------+--------------+----------+-----------+----------+---------+----------+----------+-------+----+------------+--------------+-------------------+-------------+---------+-------------+--------------+-------+-------------------+-------------------+----------------+-----------------+------------------+------------------+--------------------+--------------------+----+----+
only showing top 20 rows

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, trim, length, count, desc

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Company Account Holder Count with Partitioning") \
    .master("local[*]") \
    .getOrCreate()

# Load CSV into DataFrame
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv") \
    .cache()

# Clean and filter: remove rows with null or empty COMPANY
cleaned_df = df.filter(col("COMPANY").isNotNull() & (length(trim(col("COMPANY"))) > 0))

# Repartition by COMPANY for optimized processing
partitioned_df = cleaned_df.repartition("COMPANY")

# Group by COMPANY and count
company_counts = partitioned_df.groupBy("COMPANY") \
    .agg(count("*").alias("Account_Holder_Count")) \
    .orderBy(desc("Account_Holder_Count"))

# Show result
company_counts.show(truncate=False)

# Stop Spark session
spark.stop()

+-------------+--------------------+
|COMPANY      |Account_Holder_Count|
+-------------+--------------------+
|IGATE        |749                 |
|IBM          |601                 |
|Wipro        |202                 |
|Cognizant    |100                 |
|Accenture    |96                  |
|Tech Mahindra|64                  |
|Infosys      |55                  |
|Global Edge  |38                  |
|TCS          |32                  |
|Seimens      |31                  |
|Qualcomm     |30                  |
|Cap Gemini   |2                   |
+-------------+--------------------+

In [12]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Loan Analysis using RDD") \
    .master("local[*]") \
    .getOrCreate()

sc = spark.sparkContext

# Load the CSV file as text
data = sc.textFile("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Extract header and remove it from the data
header = data.first()
rows = data.filter(lambda line: line != header)

# Split each row by comma and extract relevant columns
# MARITAL STATUS = index 2, HOUSING = index 14, LOAN = index 15
analysis_rdd = rows.map(lambda line: line.split(",", -1)) \
    .filter(lambda fields: len(fields) > 15) \
    .map(lambda fields: ((fields[2].strip(), fields[14].strip(), fields[15].strip()), 1)) \
    .reduceByKey(lambda a, b: a + b) \
    .map(lambda x: f"{x[0][0]},{x[0][1]},{x[0][2]},{x[1]}")

# Collect and print the results
for line in analysis_rdd.collect():
    print(line)

# Stop Spark session
spark.stop()

married,yes,no,914
single,yes,no,425
divorced,yes,no,204
married,no,yes,16
single,no,yes,2
divorced,no,yes,3
married,yes,yes,153
single,no,no,39
single,yes,yes,54
married,no,no,125
divorced,no,no,29
divorced,yes,yes,36
,,,99

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
from pyspark.sql.types import IntegerType

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Retirement Policy Categorization with Names") \
    .master("local[*]") \
    .getOrCreate()

# Load the CSV file
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Clean and cast EMP_AGE to Integer
cleaned_df = df.filter(col("EMP_AGE").isNotNull()) \
    .withColumn("EMP_AGE", col("EMP_AGE").cast(IntegerType()))

# Categorize based on age
categorized_df = cleaned_df.withColumn("Retirement_Category",
    when(col("EMP_AGE") < 55, "Below Retirement Age")
    .when(col("EMP_AGE").between(55, 60), "Approaching Retirement")
    .otherwise("Eligible for Retirement")
)

# Select employee name and retirement category
result_df = categorized_df.select("EMP_NAME", "EMP_AGE", "Retirement_Category")

# Show the result
result_df.show(truncate=False)

# Stop Spark session
spark.stop()

+---------------+-------+--------------------+
|EMP_NAME       |EMP_AGE|Retirement_Category |
+---------------+-------+--------------------+
|Hussain        |24     |Below Retirement Age|
|Nagesh         |26     |Below Retirement Age|
|Preetham       |27     |Below Retirement Age|
|Rajashekarappa |28     |Below Retirement Age|
|Monappa        |30     |Below Retirement Age|
|Uthra          |31     |Below Retirement Age|
|Narasimhamurthy|27     |Below Retirement Age|
|Thorat         |24     |Below Retirement Age|
|Puvvadi        |25     |Below Retirement Age|
|Gawand         |23     |Below Retirement Age|
|Pulathota      |28     |Below Retirement Age|
|Manjunath      |29     |Below Retirement Age|
|Kandpal        |30     |Below Retirement Age|
|Pazhanivel     |28     |Below Retirement Age|
|Chappidi       |27     |Below Retirement Age|
|Jose           |29     |Below Retirement Age|
|Dsouza         |35     |Below Retirement Age|
|Gangasani      |36     |Below Retirement Age|
|Ghattamaneni   |35     |Below Retirement Age|
|Ghadge         |27     |Below Retirement Age|
+---------------+-------+--------------------+
only showing top 20 rows

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
from pyspark.sql.types import IntegerType

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Reward Tier Offers") \
    .master("local[*]") \
    .getOrCreate()

# Load the CSV file
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Clean and cast REWARD POINTS column
cleaned_df = df.withColumn("REWARD_POINTS", col("REWARD POINTS ").cast(IntegerType()))

# Categorize into reward tiers
with_tiers = cleaned_df.withColumn("Reward_Tier",
    when(col("REWARD_POINTS").between(0, 999), "Bronze")
    .when(col("REWARD_POINTS").between(1000, 4999), "Silver")
    .when(col("REWARD_POINTS").between(5000, 9999), "Gold")
    .when(col("REWARD_POINTS") >= 10000, "Platinum")
    .otherwise("Unknown")
)

# Add personalized offers
with_offers = with_tiers.withColumn("Offer",
    when(col("Reward_Tier") == "Bronze", "5% off on next purchase")
    .when(col("Reward_Tier") == "Silver", "10% off + free shipping")
    .when(col("Reward_Tier") == "Gold", "15% off + priority support")
    .when(col("Reward_Tier") == "Platinum", "20% off + VIP lounge access")
    .otherwise("No offer available")
)

# Select relevant columns
result_df = with_offers.select("EMP_NAME", "REWARD_POINTS", "Reward_Tier", "Offer")

# Show the result
result_df.show(truncate=False)

# Stop Spark session
spark.stop()

+---------------+-------------+-----------+---------------------------+
|EMP_NAME       |REWARD_POINTS|Reward_Tier|Offer                      |
+---------------+-------------+-----------+---------------------------+
|Hussain        |85           |Bronze     |5% off on next purchase    |
|Nagesh         |45           |Bronze     |5% off on next purchase    |
|Preetham       |635          |Bronze     |5% off on next purchase    |
|Rajashekarappa |1235         |Silver     |10% off + free shipping    |
|Monappa        |5214         |Gold       |15% off + priority support |
|Uthra          |6357         |Gold       |15% off + priority support |
|Narasimhamurthy|8564         |Gold       |15% off + priority support |
|Thorat         |123          |Bronze     |5% off on next purchase    |
|Puvvadi        |5            |Bronze     |5% off on next purchase    |
|Gawand         |4562         |Silver     |10% off + free shipping    |
|Pulathota      |2598         |Silver     |10% off + free shipping    |
|Manjunath      |4512         |Silver     |10% off + free shipping    |
|Kandpal        |754          |Bronze     |5% off on next purchase    |
|Pazhanivel     |12564        |Platinum   |20% off + VIP lounge access|
|Chappidi       |78546        |Platinum   |20% off + VIP lounge access|
|Jose           |235          |Bronze     |5% off on next purchase    |
|Dsouza         |1246         |Silver     |10% off + free shipping    |
|Gangasani      |5236         |Gold       |15% off + priority support |
|Ghattamaneni   |5632         |Gold       |15% off + priority support |
|Ghadge         |41235        |Platinum   |20% off + VIP lounge access|
+---------------+-------------+-----------+---------------------------+
only showing top 20 rows

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, year, col

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Accounts Opened Per Year with SQL") \
    .master("local[*]") \
    .getOrCreate()

# Load the CSV file
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("C:\\Users\\adashrat\\Downloads\\BANKDATA.csv")

# Filter rows with valid date format (dd-MM-yyyy)
valid_date_df = df.filter(col("ACCOUNT OPENING DATE").rlike("^\\d{2}-\\d{2}-\\d{4}$"))

# Parse the date
df_with_date = valid_date_df.withColumn(
    "ACCOUNT_OPENING_DATE_PARSED",
    to_date(col("ACCOUNT OPENING DATE"), "dd-MM-yyyy")
)

# Create a temporary view for SQL
df_with_date.createOrReplaceTempView("bankdata")

# Run SQL query to count accounts opened per year
result = spark.sql("""
    SELECT year(ACCOUNT_OPENING_DATE_PARSED) AS YEAR, COUNT(*) AS Account_Count
    FROM bankdata
    WHERE ACCOUNT_OPENING_DATE_PARSED IS NOT NULL
    GROUP BY year(ACCOUNT_OPENING_DATE_PARSED)
    ORDER BY YEAR
""")

# Show the result
result.show()

# Stop Spark session
spark.stop()

+----+-------------+
|YEAR|Account_Count|
+----+-------------+
|1900|            1|
|2006|          116|
|2007|          102|
|2008|          181|
|2009|          410|
|2010|          381|
|2011|          351|
|2012|          321|
|2013|          134|
|2014|            1|
+----+-------------+